.holder {width:80%;
  margin-left:auto; margin-right:auto;
 
  margin-top:0;
display:flex; 
flex-wrap:wrap;
  
}
.own {text-align: center; margin: 20px; background-color:silver; font-weight: bolder; color:blue}
header {width:100%;
border-top:5px solid black;}
  .navbar {background-color:lightslategray; height:4rem;border:2px solid black; display:flex;justify-content:space-around; align-items: center;}
a:link {text-decoration: none; font-size:18px;color:black;}
a:hover {text-decoration: underline; color:white;text-shadow:1px -2px 2px orange ;font-weight:bolder;}
.headpic {color:white;}
img {width:100%;}
.hcite {margin:0;
  position:absolute;top:250px;left:320Px;  
}
.mcite {width:60%;margin-left:20%; margin-right:auto;
 
}
p.l {margin:0; padding:0;
font-family: 'Abril Fatface', cursive;
 color:#222;
  font-size:48px;
 
}
p.b
 { 
  margin: 0; padding: 0;
  font-family: 'Abril Fatface', cursive;
 color: #222;
  font-size: 82px;
  
}

p { font-family: 'Josefin Sans', sans-serif;
font-size:1.6em; margin-top:25px; line-height:1.5;
padding:25px;
}
p.text_little {
  font-size:1em;padding:0;margin-bottom:15px;;
}
span {font-weight:800;}
.top { 
    width:50%; margin-left:25%; margin-right:auto;
 
 }
ul {margin-top:35px;}
li {margin-left:15px;font-family: 'Josefin Sans', sans-serif; line-height:1.5;
font-size:1.6em;}
li.li_little{font-size:1em;}
blockquote { height:180px; 
  margin:0;
  padding-bottom:auto;
  font-family: 'Abril Fatface', cursive;
  color:white;
  background-color:#222;
 font-size:52px;
  
}
blockquote#b_big {height:250px;padding:20px;}

blockquote::before {
  content:'”';
  font-size:2em;
 margin:0;padding:0;
  }
.h {
  
 width:50%; margin-left:25%; margin-right:auto;
  
}

h1 { font-family: 'Josefin Sans', sans-serif;
  font-weight:bold;
  font-size:2em;
font-variant:small-caps;}
h2 {font-family: 'Josefin Sans', sans-serif;
  font-weight:bolder; font-size:24px;margin:0;; padding:0;}
h3 {font-family: 'Merriweather', serif;font-size:15px;
  font-style:italic;
  margin:0;padding:0;
  
}

.textholder {
 width:50%; margin-left:25%; margin-right:auto;
   
}
